@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces
@using BugTracker.Models.Enums

@inject UserManager<BugTrackerUser> UserManager
@inject IBugTrackerProjectService ProjectService

@{
    ViewData["Title"] = "All Tickets";
    BugTrackerUser bugTrackerUser = await UserManager.GetUserAsync(User);
}

@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/morrisjs/morris.css" />
    <link rel="stylesheet" href="~/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
}

<div class="row clearfix">
    <div class="col-lg-3">
        <div class="card">
            <div class="body text-center">
                <div style="display:inline;width:125px;height:125px;"><canvas width="125" height="125"></canvas><input type="text" class="knob" value="86" data-width="125" data-height="125" data-thickness="0.25" data-fgcolor="#ff598f" style="width: 66px; height: 41px; position: absolute; vertical-align: middle; margin-top: 41px; margin-left: -95px; border: 0px; background: none; font: bold 25px Arial; text-align: center; color: rgb(255, 89, 143); padding: 0px; appearance: none;"></div>
                <p class="text-muted m-b-0">BASIC EXAMPLES</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="body text-center">
                <div style="display:inline;width:125px;height:125px;"><canvas width="125" height="125"></canvas><input type="text" class="knob" data-linecap="round" value="56" data-width="125" data-height="125" data-thickness="0.25" data-fgcolor="#64c8c0" style="width: 66px; height: 41px; position: absolute; vertical-align: middle; margin-top: 41px; margin-left: -95px; border: 0px; background: none; font: bold 25px Arial; text-align: center; color: rgb(100, 200, 192); padding: 0px; appearance: none;"></div>
                <p class="text-muted m-b-0">ROUNDED CORNERS</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="body text-center">
                <div style="display:inline;width:125px;height:125px;"><canvas width="125" height="125"></canvas><input type="text" class="knob" value="65" data-width="125" data-height="125" data-thickness="0.25" data-fgcolor="#cb8fe7" readonly="readonly" style="width: 66px; height: 41px; position: absolute; vertical-align: middle; margin-top: 41px; margin-left: -95px; border: 0px; background: none; font: bold 25px Arial; text-align: center; color: rgb(203, 143, 231); padding: 0px; appearance: none;"></div>
                <p class="text-muted m-b-0">READ-ONLY</p>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="body text-center">
                <div style="display:inline;width:125px;height:125px;"><canvas width="125" height="125"></canvas><input type="text" class="knob" data-skin="tron" value="100" data-width="125" data-height="125" data-thickness="0.2" data-anglearc="270" data-angleoffset="90" data-fgcolor="#fc967f" style="width: 66px; height: 41px; position: absolute; vertical-align: middle; margin-top: 41px; margin-left: -95px; border: 0px; background: none; font: bold 25px Arial; text-align: center; color: rgb(252, 150, 127); padding: 0px; appearance: none;"></div>
                <p class="text-muted m-b-0">TRON STYLE</p>
            </div>
        </div>
    </div>
</div>

<div class="row clearfix">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <div class="header-title">
                    <h4 class="card-title">All Tickets</h4>
                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                </div>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive mt-4" style="height: 600px;">
                    <table id="myTicketsTable" class="table table-striped table-bordered border-dark mb-0" role="grid">
                        <thead class="flex-fill">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Description)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Created)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Updated)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Archived)
                                </th>
                                @*         <th>
                                @Html.DisplayNameFor(model => model.TicketPriorityId)
                                </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.Project)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OwnerUser)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeveloperUser)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeveloperUser)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeveloperUser)
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Created)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Updated)
                                    </td>
                                    <td>

                                        @if (!item.Archived)
                                        {
                                            <img src="~/images/logos/openDocument.png" width="50" height="50">
                                        }
                                        else if (item.Archived)
                                        {
                                            <img src="~/images/logos/archivedDocument.png" width="50" height="50">
                                        }
                                    </td>
                                    @*           <td>
                                @Html.DisplayFor(modelItem => item.TicketPriorityId)
                                </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Project.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                                    </td>
                                    <td>
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        @if (User.IsInRole(nameof(Roles.Admin)) || item.DeveloperUserId == bugTrackerUser.Id || item.OwnerUserId == bugTrackerUser.Id || await ProjectService.IsAssignedProjectMangerAsync(bugTrackerUser.Id, item.ProjectId))
                                        {
                                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                        }



                                        @if (User.IsInRole(nameof(Roles.Admin)) || await ProjectService.IsAssignedProjectMangerAsync(bugTrackerUser.Id, item.ProjectId))
                                        {
                                            if (item.Archived)
                                            {
                                                <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                                            }
                                            else
                                            {
                                                <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
                                            }
                                        }


                                    </td>
                                </tr>
                            }



                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {



    <script src="~/bundles/morrisscripts.bundle.js"></script>

    <script src="~/js/pages/charts/morris.js"></script>

    <script src="~/bundles/chartist.bundle.js"></script>
    <script src="~/vendor/chartist/polar_area_chart.js"></script><!-- Polar Area Chart Js -->
    <script src="~/js/pages/charts/chartjs.js"></script>

    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/js/pages/tables/jquery-datatable.js"></script>

    <script src="~/vendor/jquery-knob/jquery.knob.min.js"></script>
    <script src="~/bundles/mainscripts.bundle.js"></script>
    <script src="~/js/pages/charts/jquery-knob.js"></script>

    <script type="text/javascript">

    </script>

}