@model IEnumerable<BugTracker.Models.Ticket>
@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces
@using BugTracker.Models.Enums

@inject UserManager<BugTrackerUser> UserManager
@inject IBugTrackerProjectService ProjectService

@{
    ViewData["Title"] = "Archived Tickets";
    BugTrackerUser bugTrackerUser = await UserManager.GetUserAsync(User);
}



@section VendorCSS {

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

    <link rel="stylesheet" href="~/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/sweetalert/sweetalert.css" />

    <link rel="stylesheet" href="~/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="~/vendor/morrisjs/morris.min.css" />
    <link rel="stylesheet" href="~/vendor/nestable/jquery-nestable.css" />
    <link rel="stylesheet" href="~/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">

}


<h1>Archived Tickets</h1>

<div class="table-responsive" style="overflow-y:auto;height:600px;">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Updated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Archived)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketPriorityId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketType.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TicketStatus.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OwnerUser.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DeveloperUser.FullName)
                </th>
                <th>
                    Assigned 
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Updated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Archived)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriorityId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Project.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketType.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TicketStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OwnerUser.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeveloperUser.FullName)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                        @if (User.IsInRole(nameof(Roles.Admin)) || await ProjectService.IsAssignedProjectMangerAsync(bugTrackerUser.Id, item.ProjectId))
                        {
                            <span>|</span>
                            if (item.Archived)
                            {
                                <a asp-action="Restore" asp-route-id="@item.Id">Restore</a>
                            }
                            else
                            {
                                <a asp-action="Archive" asp-route-id="@item.Id">Archive</a>
                            }
                        }


                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


@section Scripts {



    <script src="~/bundles/chartist.bundle.js"></script>
    <script src="~/vendor/chartist/polar_area_chart.js"></script><!-- Polar Area Chart Js -->
    <script src="~/js/pages/charts/chartjs.js"></script>

    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/js/pages/tables/jquery-datatable.js"></script>

    @*  DASHBOARD JS CODE*@
    <script src="~/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="~/bundles/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
    <script src="~/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/vendor/nestable/jquery.nestable.js"></script> <!-- Jquery Nestable -->

    <script src="~/js/pages/ui/sortable-nestable.js"></script>
    <script src="~/js/index6.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>


    <!-- *** Begin Chart JS Pie/Donut *** -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>

    <script>

        $(document).ready(function () {
            $('#myTable').DataTable();
        });


    </script>



}