@model BugTracker.Models.ViewModels.DashboardViewModel

@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces
@using BugTracker.Models.Enums;

@inject UserManager<BugTrackerUser> UserManager
@inject IBugTrackerRolesService RolesService;

@{
    ViewData["Title"] = "Project";
    ViewData["MainMenu"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    BugTrackerUser bugTrackerUser = await UserManager.GetUserAsync(User);

}


@section VendorCSS {
    <link rel="stylesheet" href="~/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="~/vendor/morrisjs/morris.min.css" />
    <link rel="stylesheet" href="~/vendor/nestable/jquery-nestable.css" />

}
<div class="row clearfix">

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card text-center bg-info">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>@Model.Projects.Where(p => p.StartDate < DateTime.Now && p.EndDate > DateTime.Now).Count()</h3>
                    <span>Active Projects</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card text-center bg-secondary">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>@Model.Tickets.Count()</h3>
                    <span>Total Tickets</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card text-center bg-warning">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>@Model.Tickets.Where(t => string.IsNullOrEmpty(t.DeveloperUserId)).Count()</h3>
                    <span>Unassigned Tickets</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card text-center bg-dark">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>
                        @(
                            Model.Projects.Count() + Model.Tickets.Count() + Model.Members.Count()
                            )
                    </h3>
                    <span>Total Data</span>
                </div>
            </div>
        </div>
    </div>

</div>

@*<div class="row clearfix">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Wrok Report</h2>
                <ul class="header-dropdown">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another Action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="m_area_chart" class="m-b-20" style="height: 250px;"></div>
            </div>
        </div>
    </div>
</div>*@

<div class="row clearfix">


    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Work In Progress Chart</h2>
                <ul class="header-dropdown">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another Action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="m_area_chart" class="m-b-20" style="height: 250px;"></div>
            </div>
        </div>
    </div>

    @*    <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
    <div class="card">
    <div class="header pb-0 mb-1">
    <h2>
    Company Data
    <small>Company2</small>
    </h2>
    </div>
    <div class="body">
    <div class="list-group list-widget pt-0 pb-1 mt-0">
    <div class="list-group-item">
    <span class="badge badge-success">17</span>
    <i class="fa fa-users text-muted"></i>Members
    </div>
    <div href="javascript:void(0);" class="list-group-item">
    <span class="badge badge-info">2</span>
    <i class="fa fa-folder text-muted"></i> Projects
    </div>
    <div class="list-group-item">
    <span class="badge badge-warning">16</span>
    <i class="fa fa-ticket text-muted"></i> Tickets
    </div>
    <div class="list-group-item">
    <span class="badge badge-danger">0</span>
    <i class="fa fa-bell text-muted"></i> Notifications
    </div>
    </div>
    </div>
    </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
    <div class="row clearfix">
    <div class="col-lg-12 col-md-12">
    <div class="card top_counter h-100 pt-2">
    <div class="body pb-0">
    <div class="icon"><i class="fa fa-user"></i> </div>
    <div class="content">
    <div class="text">New Users</div>
    <h5 class="number">0</h5>
    </div>
    <hr>
    </div>
    <div class="body mt-0 pt-0 pb-0">
    <div class="icon"><i class="fa fa-users"></i> </div>
    <div class="content">
    <div class="text">Total Users</div>
    <h5 class="number">17</h5>
    </div>
    <hr>
    </div>

    <div class="body mt-0 pt-0 pb-0">
    <div class="icon"><i class="fa fa-ticket"></i> </div>
    <div class="content">
    <div class="text">Tickets in Development</div>
    <h5 class="number">6</h5>
    </div>
    <hr>
    </div>

    <div class="body mt-0 pt-0 pb-0">
    <div class="icon"><i class="fa fa-code"></i> </div>
    <div class="content">
    <div class="text">Total Developers</div>
    <h5 class="number">7</h5>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    *@

    @* Status Priorty Chart*@
    <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
        <div class="card">
            <div class="header">
                <h2>Status Of Tickets<small>Status Type</small></h2>
            </div>

            <!-- ChartJS: Pie/Doughnut -->
            <div class="col-md-12">
                <!--  Chart.js Canvas Tag -->
                <canvas width="300" height="300" style="display: inline-block; width: 300px; height: 300px; vertical-align: top; " id="donutChart"></canvas>
            </div>
        </div>
    </div>

    @* Type Tickets Chart*@
    <div class="col-lg-3 col-md-6 col-sm-12 mb-1">
        <div class="card">
            <div class="header">
                <h2>Type Of Tickets<small>Ticket Types</small></h2>
            </div>

            <div class="col-md-12">
                <!--  Chart.js Canvas Tag -->
                <canvas width="300" height="300" style="display: inline-block; width: 300px; height: 300px; vertical-align: top; " id="donutChartForProjects"></canvas>
            </div>
        </div>
    </div>

    @* Project Tickets Chart*@
    @*    <div class="col-lg-12 col-md-12 col-sm-12 mb-1">
    <div class="card">
    <div class="col-md-12">
    <canvas id="myChart" width="300" height="400"></canvas>
    </div>
    </div>
    </div>*@



</div>

<div class="row clearfix">
    <div class="col-lg-5 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Members</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label></div></div></div><div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover js-basic-example dataTable table-custom mb-0 no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                    <thead class="thead-dark">
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Avatar: activate to sort column descending" style="width: 44.5px;">Avatar</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 125.219px;">Name</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Projects: activate to sort column ascending" style="width: 55.5156px;">Projects</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 104.531px;">Role</th></tr>
                                    </thead>
                                    <tbody>
                                        <tr role="row" class="odd">
                                            <td class="sorting_1"><a href="/Home/MemberProfile?userId=0e6b406b-43a3-420c-98d4-b3bd22a44235"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="rounded-circle" style="width:30px;height:30px;" title="Steve Appuser" alt="Default Avatar"></a></td>

                                            <td>Steve Appuser</td>

                                            <td>0</td>


                                            <td><span class="badge badge-default">Admin</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 11 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Projects</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_1_length"><label>Show <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="form-control"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="DataTables_Table_1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_1"></label></div></div></div><div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover js-basic-example dataTable table-custom mb-0 no-footer" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
                                    <thead class="thead-dark">
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Project: activate to sort column descending" style="width: 236.969px;">Project</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending" style="width: 65.4531px;">Start Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="End Date: activate to sort column ascending" style="width: 65.4531px;">End Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Team: activate to sort column ascending" style="width: 35.5469px;">Team</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Ticket Count: activate to sort column ascending" style="width: 41.6406px;">Ticket Count</th></tr>
                                    </thead>
                                    <tbody>


                                        <tr role="row" class="odd">
                                            <td class="sorting_1">
                                                <a href="/Projects/Details/2">Address Book</a>
                                                <p class="text-muted">Project Manager: Demo ProjectManager</p>

                                            </td>
                                            <td><span class="badge badge-success">03/09/2022</span></td>
                                            <td><span class="badge badge-danger">05/09/2022</span></td>
                                            <td>
                                                <ul class="list-unstyled team-info pb-0 mb-0">
                                                </ul>
                                            </td>
                                            <td>
                                                <strong>0</strong>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to 2 of 2 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_1_previous"><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="DataTables_Table_1_next"><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2>Tickets</h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                        <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_2_length"><label>Show <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="form-control"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="DataTables_Table_2_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_2"></label></div></div></div><div class="row">
                            <div class="col-sm-12">
                                <table class="table table-hover js-basic-example dataTable table-custom mb-0 no-footer" id="DataTables_Table_2" role="grid" aria-describedby="DataTables_Table_2_info">
                                    <thead class="thead-dark">
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Title: activate to sort column descending" style="width: 117.422px;">Title</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Developer: activate to sort column ascending" style="width: 114.484px;">Developer</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 135.391px;">Status</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Priority: activate to sort column ascending" style="width: 89.4375px;">Priority</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 91.8438px;">Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 132.422px;">Action</th></tr>
                                    </thead>
                                    <tbody>

                                        <tr role="row" class="odd">
                                            <td class="sorting_1">Blog Ticket 1</td>
                                            <td><a class="btn btn-sm btn-info" href="/Tickets/AssignDeveloper/47">Assign Dev</a></td>
                                            <td>
                                                <span class="badge badge-primary">New</span>
                                            </td>
                                            <td>
                                                <span class="badge badge-default">Low</span>
                                            </td>
                                            <td>11-09-2022</td>
                                            <td>
                                                <a class="btn btn-sm btn-outline-info" href="/Tickets/Details/47"><i class="icon-eye"></i></a>
                                                <a class="btn btn-sm btn-outline-secondary" href="/Tickets/Edit/47"><i class="icon-pencil"></i></a>
                                                <a class="btn btn-sm btn-outline-danger" href="/Tickets/Archive/47"><i class="fa fa-file-archive-o"></i></a>
                                            </td>

                                        </tr>
                                   
               
                         
                       
                                    </tbody>
                                </table>
                            </div>
                        </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Showing 1 to 10 of 16 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_2_previous"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="DataTables_Table_2_next"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





@*<div class="row clearfix">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Team Details</h2>
            </div>
            <div class="body team_list">
                <div class="dd" data-plugin="nestable">
                    <ol class="dd-list">
                        <li class="dd-item" data-id="1">
                            <div class="dd-handle">Desiger</div>
                            <div class="dd-content top_counter">
                                <div class="icon">
                                    <img src="~/images/xs/avatar1.jpg" class="rounded-circle" alt="">
                                </div>
                                <div class="content m-t-5">
                                    <div>UI UX Desiger</div>
                                    <h6>Tim Hank</h6>
                                </div>
                            </div>
                            <ol class="dd-list">
                                <li class="dd-item" data-id="1">
                                    <div class="dd-handle">Team Member</div>
                                    <div class="dd-content">
                                        <h6 class="m-b-15">Info about Design Team <span class="badge badge-success float-right">New</span></h6>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                        <ul class="list-unstyled team-info m-t-20 m-b-20">
                                            <li class="m-r-15"><small class="text-muted">Team</small></li>
                                            <li><img src="~/images/xs/avatar1.jpg" title="Avatar" alt="Avatar"></li>
                                            <li><img src="~/images/xs/avatar2.jpg" title="Avatar" alt="Avatar"></li>
                                            <li><img src="~/images/xs/avatar5.jpg" title="Avatar" alt="Avatar"></li>
                                        </ul>
                                        <div class="progress-container l-black m-b-20">
                                            <span class="progress-badge">Prograss</span>
                                            <div class="progress">
                                                <div class="progress-bar l-parpl" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;">
                                                    <span class="progress-value">68%</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-7">
                                                <small>PROJECTS: 12</small>
                                                <h6>BUDGET: 4,870 USD</h6>
                                            </div>
                                            <div class="col-5">
                                                <div class="sparkline text-right m-t-10" data-type="bar" data-width="97%" data-height="26px" data-bar-Width="2" data-bar-Spacing="7" data-bar-Color="#333333">2,5,8,3,5,7,1,6</div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>
                        <li class="dd-item" data-id="1">
                            <div class="dd-handle">Sales</div>
                            <div class="dd-content top_counter">
                                <div class="icon">
                                    <img src="~/images/xs/avatar2.jpg" class="rounded-circle" alt="">
                                </div>
                                <div class="content m-t-5">
                                    <div>Sales Lead</div>
                                    <h6>Gary Camara</h6>
                                </div>
                            </div>
                        </li>
                        <li class="dd-item" data-id="1">
                            <div class="dd-handle">Developer</div>
                            <div class="dd-content top_counter">
                                <div class="icon">
                                    <img src="~/images/xs/avatar10.jpg" class="rounded-circle" alt="">
                                </div>
                                <div class="content m-t-5">
                                    <div>Project Lead</div>
                                    <h6>Fidel Tonn</h6>
                                </div>
                            </div>
                            <ol class="dd-list">
                                <li class="dd-item" data-id="1">
                                    <div class="dd-handle">FrontEnd Developer</div>
                                    <div class="dd-content">
                                        <ul class="list-unstyled team-info">
                                            <li><img src="~/images/xs/avatar5.jpg" alt="Avatar"></li>
                                            <li><img src="~/images/xs/avatar6.jpg" alt="Avatar"></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="dd-item" data-id="1">
                                    <div class="dd-handle">PHP Expert</div>
                                    <div class="dd-content">
                                        <ul class="list-unstyled team-info">
                                            <li><img src="~/images/xs/avatar7.jpg" alt="Avatar"></li>
                                            <li><img src="~/images/xs/avatar8.jpg" alt="Avatar"></li>
                                            <li><img src="~/images/xs/avatar9.jpg" alt="Avatar"></li>
                                            <li><img src="~/images/xs/avatar10.jpg" alt="Avatar"></li>
                                        </ul>
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>*@

@*<div class="row clearfix">

    <div class="col-lg-8 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Project List</h2>
                <ul class="header-dropdown">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another Action</a></li>
                            <li><a href="javascript:void(0);">Something else</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table m-b-0 table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Application</th>
                                <th>Team</th>
                                <th>Change</th>
                                <th>Sales</th>
                                <th>Price</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <h6>Alpino 4.1</h6>
                                    <span>WrapTheme To By Again</span>
                                </td>
                                <td>
                                    <ul class="list-unstyled team-info">
                                        <li><img src="~/images/xs/avatar1.jpg" alt="Avatar"></li>
                                        <li><img src="~/images/xs/avatar2.jpg" alt="Avatar"></li>
                                        <li><img src="~/images/xs/avatar3.jpg" alt="Avatar"></li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1.5" data-line-Color="#00c5dc"
                                         data-fill-Color="transparent">
                                        3,5,1,6,5,4,8,3
                                    </div>
                                </td>
                                <td>11,200</td>
                                <td>$83</td>
                                <td><strong>$22,520</strong></td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Compass 2.0</h6>
                                    <span>WrapTheme To By Again</span>
                                </td>
                                <td>
                                    <ul class="list-unstyled team-info">
                                        <li><img src="~/images/xs/avatar2.jpg" alt="Avatar"></li>
                                        <li><img src="~/images/xs/avatar3.jpg" alt="Avatar"></li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1.5" data-line-Color="#f4516c"
                                         data-fill-Color="transparent">
                                        4,6,3,2,5,6,5,4
                                    </div>
                                </td>
                                <td>11,200</td>
                                <td>$66</td>
                                <td><strong>$13,205</strong></td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Nexa 1.1</h6>
                                    <span>WrapTheme To By Again</span>
                                </td>
                                <td>
                                    <ul class="list-unstyled team-info">
                                        <li><img src="~/images/xs/avatar4.jpg" alt="Avatar"></li>
                                        <li><img src="~/images/xs/avatar6.jpg" alt="Avatar"></li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1.5" data-line-Color="#31db3d"
                                         data-fill-Color="transparent">
                                        7,3,2,1,5,4,6,8
                                    </div>
                                </td>
                                <td>12,080</td>
                                <td>$93</td>
                                <td><strong>$17,700</strong></td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Oreo 2.2</h6>
                                    <span>ThemeMakker To By Again</span>
                                </td>
                                <td>
                                    <ul class="list-unstyled team-info">
                                        <li><img src="~/images/xs/avatar1.jpg" alt="Avatar"></li>
                                        <li><img src="~/images/xs/avatar3.jpg" alt="Avatar"></li>
                                        <li><img src="~/images/xs/avatar2.jpg" alt="Avatar"></li>
                                        <li><img src="~/images/xs/avatar9.jpg" alt="Avatar"></li>
                                    </ul>
                                </td>
                                <td>
                                    <div class="sparkline text-left" data-type="line" data-width="8em" data-height="20px" data-line-Width="1.5" data-line-Color="#2d342e"
                                         data-fill-Color="transparent">
                                        3,1,2,5,4,6,2,3
                                    </div>
                                </td>
                                <td>18,200</td>
                                <td>$178</td>
                                <td><strong>$17,700</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-12">
        <div class="row">
            <div class="col-lg-12 col-md-6">
                <div class="card">
                    <div class="header">
                        <h2>Income Analysis<small>8% High then last month</small></h2>
                    </div>
                    <div class="body">
                        <div class="sparkline-pie text-center">6,4,8</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-6">
                <div class="card">
                    <div class="header">
                        <h2>Sales Income</h2>
                    </div>
                    <div class="body">
                        <h6>Overall <b class="text-success">7,000</b></h6>
                        <div class="sparkline" data-type="line" data-spot-Radius="2" data-highlight-Spot-Color="#445771" data-highlight-Line-Color="#222"
                             data-min-Spot-Color="#445771" data-max-Spot-Color="#445771" data-spot-Color="#445771"
                             data-offset="90" data-width="100%" data-height="40px" data-line-Width="1" data-line-Color="#ffcd55"
                             data-fill-Color="#ffcd55">
                            2,4,3,1,5,7,3,2
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>*@
@section Scripts {
    <script src="~/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="~/bundles/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
    <script src="~/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/vendor/nestable/jquery.nestable.js"></script> <!-- Jquery Nestable -->

    <script src="~/js/pages/ui/sortable-nestable.js"></script>
    <script src="~/js/index6.js"></script>




    <!-- *** Begin Chart JS Pie/Donut *** -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script>

        var donutChartCanvas = $('#donutChart').get(0).getContext('2d');
        var donutData = {
            labels: [
                '@nameof(BugTrackerTicketStatus.Development)',
                '@nameof(BugTrackerTicketStatus.New)',
                '@nameof(BugTrackerTicketStatus.Resolved)',
                '@nameof(BugTrackerTicketStatus.Testing)'
            ],
            datasets: [
                {
                    data: [
        @Model.Tickets.Where(t=> t.TicketStatus.Name == nameof(BugTrackerTicketStatus.Development)).Count(),
        @Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(BugTrackerTicketStatus.New)).Count(),
        @Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(BugTrackerTicketStatus.Resolved)).Count(),
        @Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(BugTrackerTicketStatus.Testing)).Count()

                                                                                                                                ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)'
                    ]
                }
            ]
        };

        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true,
        };
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas, {
            type: 'pie',
            data: donutData,
            options: donutOptions
        });







        // Get the projects ticket type
        var donutChartCanvas = $('#donutChartForProjects').get(0).getContext('2d');
        var donutData = {
            labels: [
                '@nameof(BugTrackerTicketType.NewDevelopment)',
                '@nameof(BugTrackerTicketType.WorkTask)',
                '@nameof(BugTrackerTicketType.Defect)',
                '@nameof(BugTrackerTicketType.ChangeRequest)',
                '@nameof(BugTrackerTicketType.Enhancement)',
                '@nameof(BugTrackerTicketType.GeneralTask)'
            ],
            datasets: [
                {
                    data: [
        @Model.Tickets.Where(t=> t.TicketType.Name == nameof(BugTrackerTicketType.NewDevelopment)).Count(),
        @Model.Tickets.Where(t=> t.TicketType.Name ==nameof(BugTrackerTicketType.WorkTask)).Count(),
        @Model.Tickets.Where(t=> t.TicketType.Name ==nameof(BugTrackerTicketType.Defect)).Count(),
        @Model.Tickets.Where(t=> t.TicketType.Name ==nameof(BugTrackerTicketType.ChangeRequest)).Count(),
        @Model.Tickets.Where(t=> t.TicketType.Name ==nameof(BugTrackerTicketType.Enhancement)).Count(),
        @Model.Tickets.Where(t=> t.TicketType.Name ==nameof(BugTrackerTicketType.GeneralTask)).Count()
                                                                                                                                        ],
                    backgroundColor: [
                        "hsla(220, 70%, 50%, 0.5)",
                        "hsla(160, 70%, 50%, 0.5)",
                        "hsla(100, 70%, 50%, 0.5)",
                        "hsla(80, 70%, 50%, 0.5)",
                        "hsla(60, 70%, 50%, 0.5)",
                        "hsla(40, 70%, 50%, 0.5)"
                    ],
                    borderWidth: 0,
                    hoverBackgroundColor: "rgba(211, 164, 36,0.4)",
                    hoverBorderColor: "rgba(211, 164, 36,1)",
                    borderColor: [
                        "rgba(211, 164, 36,1)",
                    ]
                }
            ]
        };

        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true,
        };
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas, {
            type: 'pie',
            data: donutData,
            options: donutOptions
        });




        // Horizontial Chart

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: [
                    '@nameof(BugTrackerProjectPriority.Low)',
                    '@nameof(BugTrackerProjectPriority.Medium)',
                    '@nameof(BugTrackerProjectPriority.High)',
                    '@nameof(BugTrackerProjectPriority.Urgent)'
                ],
                datasets: [{
                    axis: 'y',
                    label: 'Project Priority',
                    data: [
        @Model.Projects.Where(p=> p.ProjectPriority.Name == nameof(BugTrackerProjectPriority.Low)).Count(),
        @Model.Projects.Where(p=> p.ProjectPriority.Name == nameof(BugTrackerProjectPriority.Medium)).Count(),
        @Model.Projects.Where(p=> p.ProjectPriority.Name == nameof(BugTrackerProjectPriority.High)).Count(),
        @Model.Projects.Where(p=> p.ProjectPriority.Name == nameof(BugTrackerProjectPriority.Urgent)).Count() ],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 2

                }]
            },
            options: {
                responsive: false,
                indexAxis: 'y',

                scales: {
                    x: {
                        grid: {
                            display: false
                        }
                    }
                }
            }
        });

    </script>



}
