@model BugTracker.Models.ViewModels.DashboardViewModel

@using Microsoft.AspNetCore.Identity
@using BugTracker.Services.Interfaces
@using BugTracker.Models.Enums;

@inject UserManager<BugTrackerUser> UserManager
@inject IBugTrackerRolesService RolesService;

@{
    ViewData["Title"] = "Project";
    ViewData["MainMenu"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    BugTrackerUser bugTrackerUser = await UserManager.GetUserAsync(User);



}

@section VendorCSS {

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

    <link rel="stylesheet" href="~/vendor/jquery-datatable/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/fixedeader/dataTables.fixedcolumns.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/jquery-datatable/fixedeader/dataTables.fixedheader.bootstrap4.min.css">
    <link rel="stylesheet" href="~/vendor/sweetalert/sweetalert.css" />

    <link rel="stylesheet" href="~/vendor/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css">
    <link rel="stylesheet" href="~/vendor/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="~/vendor/morrisjs/morris.min.css" />
    <link rel="stylesheet" href="~/vendor/nestable/jquery-nestable.css" />
    <link rel="stylesheet" href="~/vendor/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">

}


<div class="row clearfix">

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card text-center bg-info">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>@Model.Projects.Where(p => p.StartDate < DateTime.Now && p.EndDate > DateTime.Now).Count()</h3>
                    <span>Active Projects</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card text-center bg-secondary">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>@Model.Tickets.Count()</h3>
                    <span>Total Tickets</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card text-center bg-warning">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>@Model.Tickets.Where(t => string.IsNullOrEmpty(t.DeveloperUserId)).Count()</h3>
                    <span>Unassigned Tickets</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card text-center bg-dark">
            <div class="body">
                <div class="p-15 text-light">
                    <h3>
                        @(
                            Model.Projects.Count() + Model.Tickets.Count() + Model.Members.Count()
                            )
                    </h3>
                    <span>Total Data</span>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row clearfix">

    @*    <div class="col-lg-6 col-md-6 col-sm-12 mb-1">
    <div class="card">
    <div class="header">
    <h2>Project Priority<small>Project Status</small></h2>
    </div>

    <!-- ChartJS: Pie/Doughnut -->
    <div class="col-md-12">
    <!--  Chart.js Canvas Tag -->
    <canvas width="400" height="400" style="display: inline-block; width: 300px; height: 300px; vertical-align: top; " id="myChart"></canvas>
    </div>
    </div>
    </div>*@

    @*    <div class="col-lg-6 col-md-6 col-sm-12 mb-1">
    <div class="card">
    <div class="header">
    <h2>Project Priority<small>Project Status (Work In Progress)</small></h2>
    </div>
    <div class="body">
    <div id="stackedbar-chart" class="ct-chart"></div>
    </div>
    </div>
    </div>*@



    @*   <div class="col-lg-6 col-md-6 col-sm-12 mb-1">
    <div class="card">
    <div class="header">
    <h2>Project<small>Ticekts Vs Developers</small></h2>
    </div>
    <!-- HTML -->
    <div id="chartdiv"></div>
    </div>
    </div>*@




    @* Status Priorty Chart*@
    <div class="col-lg-6 col-md-12 col-sm-12 mb-1">
        <div class="card">
            <div class="header">
                <h2>Status Of Tickets<small>Status Type</small></h2>
            </div>

            <!-- ChartJS: Pie/Doughnut -->
            <div class="col-md-12">
                <!--  Chart.js Canvas Tag -->
                <canvas width="300" height="300" style="display: inline-block; width: 300px; height: 300px; vertical-align: top; " id="donutChart"></canvas>
            </div>
        </div>
    </div>

    @* Type Tickets Chart*@
    <div class="col-lg-6 col-md-12 col-sm-12 mb-1">
        <div class="card">
            <div class="header">
                <h2>Type Of Tickets<small>Ticket Types</small></h2>
            </div>

            <div class="col-md-12">
                <!--  Chart.js Canvas Tag -->
                <canvas width="300" height="300" style="display: inline-block; width: 300px; height: 300px; vertical-align: top; " id="donutChartForProjects"></canvas>
            </div>
        </div>
    </div>

</div>

@*Projects Table*@
<div class="row clearfix">


    <div class="col-lg-5 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Members</h2>
            </div>
            <div class="body table-responsive">
                <table class="table m-b-0" id="MembersTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Avatar</th>
                            <th scope="col">Name</th>
                            <th scope="col">Projects</th>
                            <th scope="col">Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var member in Model.Members)
                        {
                            <tr class="gradeA">
                                <td>
                              @*      @if (bugTrackerUser?.AvatarFileData != null)
                                    { }*@
                                    <img class="rounded-circle user-photo" src="~/images/logos/openDocument.png" style="height:25px!important; width:25px!important;" alt="">

                                </td>
                                <td>
                                    <a class="">@member.FullName</a>
                                </td>
                                <td>
                                    <a class="">@member</a>
                                </td>
                                <td>
                                    <span class="badge badge-outline-dark">Admin</span>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    @*Projects Table*@
    <div class="col-lg-7 col-md-12">
        <div class="card">
            <div class="header">
                <h2>Projects</h2>
            </div>
            <div class="body table-responsive">
                <table class="table m-b-0" id="ProjectsTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Projects Name</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Ticket Count</th>
                            @*    <th scope="col">Action</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model.Projects.OrderByDescending(d => d.EndDate))
                        {
                            <tr class="gradeA">
                                <td>
                                    <a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id">@project.Name</a>
                                </td>
                                <td>
                                    <span class="badge badge-success">@project.StartDate.ToString("MM-dd-yyyy")</span>
                                </td>
                                <td>
                                    <span class="badge badge-danger">@project.EndDate.ToString("MM-dd-yyyy")</span>
                                </td>
                                <td>
                                    <span>@Model.Tickets.Count()</span>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    @* Tickets Table*@
    <div class="col-12">
        <div class="card">
            <div class="header">
                <h2>Tickets</h2>
            </div>
            <div class="body table-responsive">
                <table class="table m-b-0" id="TicketsTable">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Ticket Name</th>
                            <th scope="col">Developers</th>
                            <th scope="col">Status</th>
                            <th scope="col">Priority</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var ticket in Model.Tickets.OrderByDescending(d => d.Created))
                        {
                            <tr>
                                <td>
                                    <a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><strong>@ticket.Title</strong></a>

                                </td>
                                <td>
                                    @if (ticket.DeveloperUserId != null)
                                    {
                                        @ticket.DeveloperUser?.FullName
                                    }
                                    else
                                    {

                                        if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                                        {

                                            <a class="btn btn-sm btn-outline-info" asp-action="UnassignedTickets" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                                        }


                                    }
                                </td>
                                @if (ticket.TicketStatus.Name == "New")
                                {
                                    <td><span class="badge badge-success">@ticket.TicketStatus.Name </span></td>

                                }
                                else
                                {
                                    <td><span class="badge badge-warning">@ticket.TicketStatus.Name </span></td>
                                }
                                <td>
                                    <span class="badge badge-outline-dark">@ticket.TicketPriority.Name </span>
                                    @*    <span class="btn btn-sm btn-outline-danger">@ticket.TicketPriority.Name </span>*@
                                </td>
                                <td>
                                    <span class="badge badge-success">  @ticket.Created.ToString("MM-dd-yyyy")  </span>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-outline-primary" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="icon-eye" aria-hidden="true"></i></a>

                                    @if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
                                    {
                                        <a class="btn btn-sm btn-outline-dark" asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="icon-pencil" aria-hidden="true"></i></a>
                                        <a class="btn btn-sm btn-outline-danger" asp-action="Archive" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fa fa-file-archive-o" aria-hidden="true"></i></a>
                                    }


                                </td>

                            </tr>

                            @*       <td>
                        <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id"><i class="icon-eye" aria-hidden="true"></i></a>
                        <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id"><i class="icon-eye" aria-hidden="true"></i></a>
                        <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id"><i class="icon-eye" aria-hidden="true"></i></a>
                        </td>*@
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@* <div class="col-lg-5 col-md-12">
    <div class="card">
    <div class="header">
    <h2>Members</h2>
    </div>
    <div class="body">
    <div class="table-responsive">
    <div id="" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Show <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="form-control"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_0"></label></div></div></div><div class="row">
    <div class="col-sm-12">
    <table class="table table-hover js-basic-example dataTable table-custom mb-0 no-footer" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
    <thead class="thead-dark">
    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Avatar: activate to sort column descending" style="width: 44.5px;">Avatar</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 125.219px;">Name</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Projects: activate to sort column ascending" style="width: 55.5156px;">Projects</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Role: activate to sort column ascending" style="width: 104.531px;">Role</th></tr>
    </thead>
    <tbody>
    <tr role="row" class="odd">
    <td class="sorting_1"><a href="/Home/MemberProfile?userId=0e6b406b-43a3-420c-98d4-b3bd22a44235"><img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="rounded-circle" style="width:30px;height:30px;" title="Steve Appuser" alt="Default Avatar"></a></td>

    <td>Steve Appuser</td>

    <td>0</td>


    <td><span class="badge badge-default">Admin</span></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing 1 to 10 of 11 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_0_previous"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="DataTables_Table_0_next"><a href="#" aria-controls="DataTables_Table_0" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
    </div>
    </div>
    </div>
    </div>
    </div>*@

@*   <div class="col-lg-7 col-md-12">
    <div class="card">
    <div class="header">
    <h2>Projects</h2>
    </div>
    <div class="body">
    <div class="table-responsive">
    <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_1_length"><label>Show <select name="DataTables_Table_1_length" aria-controls="DataTables_Table_1" class="form-control"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="DataTables_Table_1_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_1"></label></div></div></div><div class="row">
    <div class="col-sm-12">
    <table class="table table-hover js-basic-example dataTable table-custom mb-0 no-footer" id="DataTables_Table_1" role="grid" aria-describedby="DataTables_Table_1_info">
    <thead class="thead-dark">
    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Project: activate to sort column descending" style="width: 236.969px;">Project</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Start Date: activate to sort column ascending" style="width: 65.4531px;">Start Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="End Date: activate to sort column ascending" style="width: 65.4531px;">End Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Team: activate to sort column ascending" style="width: 35.5469px;">Team</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_1" rowspan="1" colspan="1" aria-label="Ticket Count: activate to sort column ascending" style="width: 41.6406px;">Ticket Count</th></tr>
    </thead>
    <tbody>


    <tr role="row" class="odd">
    <td class="sorting_1">
    <a href="/Projects/Details/2">Address Book</a>
    <p class="text-muted">Project Manager: Demo ProjectManager</p>

    </td>
    <td><span class="badge badge-success">03/09/2022</span></td>
    <td><span class="badge badge-danger">05/09/2022</span></td>
    <td>
    <ul class="list-unstyled team-info pb-0 mb-0">
    </ul>
    </td>
    <td>
    <strong>0</strong>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
    </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="DataTables_Table_1_info" role="status" aria-live="polite">Showing 1 to 2 of 2 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_1_previous"><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="DataTables_Table_1_next"><a href="#" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
    </div>
    </div>
    </div>
    </div>
    </div>*@



@* <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card">
    <div class="header">
    <h2>Tickets</h2>
    </div>
    <div class="body">
    <div class="table-responsive">
    <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
    <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="DataTables_Table_2_length"><label>Show <select name="DataTables_Table_2_length" aria-controls="DataTables_Table_2" class="form-control"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="DataTables_Table_2_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control" placeholder="" aria-controls="DataTables_Table_2"></label></div></div></div><div class="row">
    <div class="col-sm-12">
    <table class="table table-hover js-basic-example dataTable table-custom mb-0 no-footer" id="DataTables_Table_2" role="grid" aria-describedby="DataTables_Table_2_info">
    <thead class="thead-dark">
    <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Title: activate to sort column descending" style="width: 117.422px;">Title</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Developer: activate to sort column ascending" style="width: 114.484px;">Developer</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 135.391px;">Status</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Priority: activate to sort column ascending" style="width: 89.4375px;">Priority</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 91.8438px;">Date</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_2" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 132.422px;">Action</th></tr>
    </thead>
    <tbody>

    <tr role="row" class="odd">
    <td class="sorting_1">Blog Ticket 1</td>
    <td><a class="btn btn-sm btn-info" href="/Tickets/AssignDeveloper/47">Assign Dev</a></td>
    <td>
    <span class="badge badge-primary">New</span>
    </td>
    <td>
    <span class="badge badge-default">Low</span>
    </td>
    <td>11-09-2022</td>
    <td>
    <a class="btn btn-sm btn-outline-info" href="/Tickets/Details/47"><i class="icon-eye"></i></a>
    <a class="btn btn-sm btn-outline-secondary" href="/Tickets/Edit/47"><i class="icon-pencil"></i></a>
    <a class="btn btn-sm btn-outline-danger" href="/Tickets/Archive/47"><i class="fa fa-file-archive-o"></i></a>
    </td>

    </tr>




    </tbody>
    </table>
    </div>
    </div>
    <div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="DataTables_Table_2_info" role="status" aria-live="polite">Showing 1 to 10 of 16 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_2_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="DataTables_Table_2_previous"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="DataTables_Table_2_next"><a href="#" aria-controls="DataTables_Table_2" data-dt-idx="3" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>*@




@section Scripts {



    <script src="~/bundles/chartist.bundle.js"></script>
    <script src="~/vendor/chartist/polar_area_chart.js"></script><!-- Polar Area Chart Js -->
    <script src="~/js/pages/charts/chartjs.js"></script>

    <script src="~/bundles/datatablescripts.bundle.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/dataTables.buttons.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.bootstrap4.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.colVis.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.html5.min.js"></script>
    <script src="~/vendor/jquery-datatable/buttons/buttons.print.min.js"></script>
    <script src="~/vendor/sweetalert/sweetalert.min.js"></script> <!-- SweetAlert Plugin Js -->
    <script src="~/js/pages/tables/jquery-datatable.js"></script>

    @*  DASHBOARD JS CODE*@
    <script src="~/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="~/bundles/morrisscripts.bundle.js"></script> <!-- Morris Plugin Js -->
    <script src="~/bundles/knob.bundle.js"></script> <!-- Jquery Knob-->
    <script src="~/vendor/nestable/jquery.nestable.js"></script> <!-- Jquery Nestable -->

    <script src="~/js/pages/ui/sortable-nestable.js"></script>
    <script src="~/js/index6.js"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>


    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js"></script>


    <!-- *** Begin Chart JS Pie/Donut *** -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script src="https://cdn.amcharts.com/lib/4/charts.js"></script>

    <script>

        $(document).ready(function () {
            $('#TicketsTable').DataTable();
        });

        $(document).ready(function () {
            $('#ProjectsTable').DataTable();
        });

        $(document).ready(function () {
            $('#MembersTable').DataTable();
        });


        $.ajax({
            type: "POST",
            url: "/Home/AmCharts",
            data: '{}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {
                am4core.ready(function () {

                    // Themes begin
                    // Themes end

                    // Create chart instance
                    var chart = am4core.create("chartdiv", am4charts.XYChart);


                    // Add data
                    chart.data = result;

                    // Create axes
                    var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
                    categoryAxis.dataFields.category = "project";
                    categoryAxis.numberFormatter.numberFormat = "#";
                    categoryAxis.renderer.inversed = true;
                    categoryAxis.renderer.grid.template.location = 0;
                    categoryAxis.renderer.cellStartLocation = 0.1;
                    categoryAxis.renderer.cellEndLocation = 0.9;

                    var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
                    valueAxis.renderer.opposite = true;

                    // Create series
                    function createSeries(field, name) {
                        var series = chart.series.push(new am4charts.ColumnSeries());
                        series.dataFields.valueX = field;
                        series.dataFields.categoryY = "project";
                        series.name = name;
                        series.columns.template.tooltipText = "{name}: [bold]{valueX}[/]";
                        series.columns.template.height = am4core.percent(100);
                        series.sequencedInterpolation = true;

                        var valueLabel = series.bullets.push(new am4charts.LabelBullet());
                        valueLabel.label.text = "{valueX}";
                        valueLabel.label.horizontalCenter = "left";
                        valueLabel.label.dx = 10;
                        valueLabel.label.hideOversized = false;
                        valueLabel.label.truncate = false;

                        var categoryLabel = series.bullets.push(new am4charts.LabelBullet());
                        categoryLabel.label.text = "{name}";
                        categoryLabel.label.horizontalCenter = "right";
                        categoryLabel.label.dx = -10;
                        categoryLabel.label.fill = am4core.color("#fff");
                        categoryLabel.label.hideOversized = false;
                        categoryLabel.label.truncate = false;
                    }

                    createSeries("tickets", "Tickets");
                    createSeries("developers", "Devs");

                }); // end am4core.ready()


            },
            failure: function (result) {
                alert(result.d);
            },
            error: function (result) {
                alert(result.d);
            }
        });






        // Donut Chart (Chart JS)
        var donutChartCanvas = $('#donutChart').get(0).getContext('2d');
        var donutData = {
            labels: [
                '@nameof(BugTrackerTicketStatus.Development)',
                '@nameof(BugTrackerTicketStatus.New)',
                '@nameof(BugTrackerTicketStatus.Resolved)',
                '@nameof(BugTrackerTicketStatus.Testing)'
            ],
            datasets: [
                {
                    data: [
        @Model.Tickets.Where(t=> t.TicketStatus.Name == nameof(BugTrackerTicketStatus.Development)).Count(),
        @Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(BugTrackerTicketStatus.New)).Count(),
        @Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(BugTrackerTicketStatus.Resolved)).Count(),
        @Model.Tickets.Where(t=> t.TicketStatus.Name ==nameof(BugTrackerTicketStatus.Testing)).Count()

                                                                                                                                                                                                                                ],

                    backgroundColor: [
                        "hsla(280, 70%, 50%, 0.5)",
                        "hsla(220, 70%, 50%, 0.5)",
                        "hsla(160, 70%, 50%, 0.5)",
                        "hsla(100, 70%, 50%, 0.5)"
                    ],
                    borderWidth: 0,
                    hoverBackgroundColor: "hsla(235, 12%, 27%, 0.5)",
                    borderColor: [
                        "rgba(211, 164, 36,1)"

                    ]
                }
            ]
        };

        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true,
        };
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas, {
            type: 'pie',
            data: donutData,
            options: donutOptions
        });







        // Get the projects ticket type (Chart JS)
        var donutChartCanvas = $('#donutChartForProjects').get(0).getContext('2d');
        var donutData = {
            labels: [
                '@nameof(BugTrackerTicketType.NewDevelopment)',
                '@nameof(BugTrackerTicketType.WorkTask)',
                '@nameof(BugTrackerTicketType.Defect)',
                '@nameof(BugTrackerTicketType.ChangeRequest)',
                '@nameof(BugTrackerTicketType.Enhancement)',
                '@nameof(BugTrackerTicketType.GeneralTask)'
            ],
            datasets: [
                {
                    data: [
        @Model.Tickets.Where(t=> t.TicketType.Name == nameof(BugTrackerTicketType.NewDevelopment)).Count(),
        @Model.Tickets.Where(t=> t.TicketType.Name ==nameof(BugTrackerTicketType.WorkTask)).Count(),
        @Model.Tickets.Where(t=> t.TicketType.Name ==nameof(BugTrackerTicketType.Defect)).Count(),
        @Model.Tickets.Where(t=> t.TicketType.Name ==nameof(BugTrackerTicketType.ChangeRequest)).Count(),
        @Model.Tickets.Where(t=> t.TicketType.Name ==nameof(BugTrackerTicketType.Enhancement)).Count(),
        @Model.Tickets.Where(t=> t.TicketType.Name ==nameof(BugTrackerTicketType.GeneralTask)).Count()
                                                                                                                                                                                                                                        ],
                    backgroundColor: [
                        "hsla(220, 70%, 50%, 0.5)",
                        "hsla(160, 70%, 50%, 0.5)",
                        "hsla(100, 70%, 50%, 0.5)",
                        "hsla(80, 70%, 50%, 0.5)",
                        "hsla(60, 70%, 50%, 0.5)",
                        "hsla(40, 70%, 50%, 0.5)"
                    ],
                    borderWidth: 0,
                    hoverBackgroundColor: "rgba(211, 164, 36,0.4)",
                    hoverBorderColor: "rgba(211, 164, 36,1)",
                    borderColor: [
                        "rgba(211, 164, 36,1)",
                    ]
                }
            ]
        };

        var donutOptions = {
            maintainAspectRatio: false,
            responsive: true,
        };
        //Create pie or douhnut chart
        // You can switch between pie and douhnut using the method below.
        new Chart(donutChartCanvas, {
            type: 'pie',
            data: donutData,
            options: donutOptions
        });







    </script>



}
